<div class="garden-status">
  <div class="garden-status__item">
    <h2>Recently planted</h2>

    <ul>
      <% @recent_plants.each do |plant| %>
        <li>
          <%= link_to plant.name, plant %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="garden-status__item">
    <h2>Ready to harvest</h2>

    <ul>
      <% @harvestable_plants.each do |plant| %>
        <li>
          <%= link_to plant.name, plant %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="garden-status__item">
    <h2>Beds to weed</h2>

    <ul>
      <% @beds_ready_to_weed.each do |bed| %>
        <li>
          <%= link_to bed.name, bed %>
        </li>
      <% end %>
    </ul>
  </div>
</div>